/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "poppins",sans-serif;
}
:root{
    --main-color:#033a80;
    --bg-color:#fff;
    --text-color:#0f0c27;
    --hover:hsl(260, 100%, 51%);
    --big-font:3.2rem;
    --medium-font :1.8rem;
    --pp-font:0.94rem;
    --btn-color:#ed0331;

}
/* ====navbar==== */
.heading {
    text-align: center;
  }
  .heading h2 {
    font-size: 30px;
  }
   
  .heading span {
    font-size: var(--p-font);
    color: rgb(2, 166, 70);
  }
  header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 13px 10%;
    transition: 0.2s;
    box-shadow: -3px -3px 7px #ffffff73,
                  2px 2px 5px rgba(94, 104, 121, 0.288);
  }
  header.shadow {
    box-shadow: 0 0 4px rgb(14 55 54 / 15%);
  }
  .logo {
    font-size: 1.61rem;
    font-weight: 600;
    color: var(--text-color);
  }
  #nav-menu {
    display: flex;
  }
  #nav-menu a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
  }
  #nav-menu a:hover {
    color: var(--hover);
  }
  #menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
  }
  #res_btn{
    background: var(--btn-color);
    color: var(--bg-color);
    
    border-radius: 10px;
     /* display: flex; 
    flex-direction: row;
    justify-content: space-between;  */
  }
  #res_btn_arr{
    position: ;
    /* margin-top: 5px; */
    /* margin-left: 5px; */
  }


body{
    background: var();
    color: var(--text-color);
}

/* =============Home Section=========== */
section{
    padding: 50px 10%;

}
*::selection{
    color: var(--bg-color);
    background: var(--main-color);
}

#home{
    position: relative;
    width:100% ;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

.home-img{
    order:3;

}
.home-img img{
    width: 100%;
    border-radius: 0.5rem;

}

.home-text span{
    font-size: var(--medium-font);
    font-weight: 500;
}

.home-text h1{
    font-size: var(--big-font);
}
.home-text h2{
    font-size: 1.1.rem;
    font-weight: 400;
}
.home-text p{
    font-size: var(--p-front);
    font-weight: 400;
    margin: 0.7rem 0 1rem;
}

/* button */

.btn{
    display: inline-block;
    background: var(--main-color);
    color: #fff;
    padding:0.7rem 1.3rem ;
    border-radius: 0.5rem;
}
.btn:hover{
    background:var(--hover) ;
}

/* ===================heading=========== */
.heading{
    text-align: center;
}
.heading h2{
    font-size: 30px;
}
.heading span{
    font-size: var(--p-font);
    color: rgb(2, 165 ,70);
}
/* About Section */
.about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin-top: 2rem;
}
.about-img img{
      width: 80%;
      border-radius: 0.5rem;
}
.about-text p{
    font-size:var(--p-font);
    font-weight:400;
    text-align: justify;
}
.information{
    margin: 1rem 0 1.4rem;
}

.information .info-box{
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
}
.information .info-box .bx{
    font-size: 22px;
}

.information.info-box span{
    font-weight:400 ;
    margin-left: 1rem;
}

/* skills-1 */

.skills-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  .skills-card {
    padding: 20px;
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    border-bottom: 2px solid var(--main-color);
    box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
  }
  .skills-card:hover{
   background-color: teal;
  }
  .skills-card-img{
    height: 70%;
  }
  .skills-card-img img{
    width: 60%;
    height: 90%;
  }
  .skills-card h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.7rem 0 0.4rem;
  }
  .skills-card:hover h3{
    color: #fff;
  }
  .skills-card .bx {
    padding-top: 2rem;
    font-size: 54px;
    color: var(--main-color);
  }
  .skills-card:hover .bx{
    color: #22cf91;
  }
  .skills-card a {
    color: var(--main-color);
    font-size: var(--p-font);
    font-weight: 500;
  }
  .skills-card:hover a{
    color: #8b8a8f;
  }

  /* skills-2 */



  #services-box1_img{
    width: 40%;
    height: 80%;
  }



  /* projects */

  .portfolio-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, auto));
    gap: 1rem;
    margin-top: 2rem;
  }
  .portfolio-img {
    overflow: hidden;
    border-radius: 0.5rem;
  }
  .portfolio-img img {
    width: 100%;
    display: block;
  }
  .portfolio-img img:hover {
    transform: scale(1.1);
    transition: 1s;
  }

  /* Contact */
  .contact-form {
    display: grid;
    place-items: center;
    margin-top: 2rem;
  }
  .contact-form form {
    display: flex;
    flex-direction: column;
    width: 650px;
  }
  form input,
  textarea {
    padding: 15px;
    border-radius: 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: hsla(260, 100%, 44%, 0.1);
    margin-bottom: 1rem;
    color: var(--text-color);
  }
  form input::placeholder,
  textarea::placeholder {
    color: var(--text-color);
  }
  form textarea {
    resize: none;
    height: 200px;
  }
  .contact-button {
    width: 160px;
    cursor: pointer;
    background: #2768d9;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 35%;
  }
  .contact-button:hover {
    background: var(--hover);
  }